<?xml version="1.0" encoding="utf-8"?>
<Media Key="d151b88b-c173-47ea-818e-f987bdcabdbd" Alias="3.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-01T12:55:33</CreateDate>
    <NodeName Default="3.png" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/arzbozy0/3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>