<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f1582ef-7d8a-4428-ac1f-24a8f2b40a49" Alias="4.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-01T12:56:01</CreateDate>
    <NodeName Default="4.png" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mbefhgpd/4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>