<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d818aa2-71c8-4ae1-9e3b-195299262c62" Alias="#5.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-18T08:36:04</CreateDate>
    <NodeName Default="#5.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fvampk3b/5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>