<?xml version="1.0" encoding="utf-8"?>
<Media Key="c95a4da0-6766-46b8-a980-1c6ef49894bc" Alias="5.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-01T12:56:10</CreateDate>
    <NodeName Default="5.png" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/f4dby5yp/5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>