<?xml version="1.0" encoding="utf-8"?>
<Media Key="568bbc80-b77a-487f-88b8-74af61b15ca8" Alias="Aaron Lambert.png" Level="2">
  <Info>
    <Parent Key="8b776c3f-7144-4314-b224-f88eb78866d5">Team Members</Parent>
    <Path>/TeamMembers/AaronLambertpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T00:26:06</CreateDate>
    <NodeName Default="Aaron Lambert.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/b31m1yat/aaron-lambert.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>