<?xml version="1.0" encoding="utf-8"?>
<Media Key="4391edbd-438d-4fa4-9789-b714598ebc80" Alias="AJ Carter.png" Level="2">
  <Info>
    <Parent Key="8b776c3f-7144-4314-b224-f88eb78866d5">Team Members</Parent>
    <Path>/TeamMembers/AJCarterpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T00:26:05</CreateDate>
    <NodeName Default="AJ Carter.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gitnp3pe/aj-carter.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>