<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1673e6c-dfe4-4f78-a40a-74065c382238" Alias="Brandon Newton.png" Level="2">
  <Info>
    <Parent Key="8b776c3f-7144-4314-b224-f88eb78866d5">Team Members</Parent>
    <Path>/TeamMembers/BrandonNewtonpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T00:26:06</CreateDate>
    <NodeName Default="Brandon Newton.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2p0ccv2n/brandon-newton.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>