<?xml version="1.0" encoding="utf-8"?>
<Media Key="41e5f587-5b25-47ff-9684-1523174519ca" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-25T08:28:28</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oveepiz4/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>