<?xml version="1.0" encoding="utf-8"?>
<Media Key="304f8c0c-5e48-4691-89ee-b50e54c8ec48" Alias="component.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/componentpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-02T15:38:41</CreateDate>
    <NodeName Default="component.png" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qndatbrb/component.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>