<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c92c637-34d3-408e-949a-dc342b0e4c28" Alias="Contact us.png (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactUspng1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-02T15:38:54</CreateDate>
    <NodeName Default="Contact us.png (1)" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xagnjov0/contact-us.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>