<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ea3bdd6-0793-480d-bd34-8d341d573b3c" Alias="Dot.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dotpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-02T15:38:25</CreateDate>
    <NodeName Default="Dot.png" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lf1pl0h0/dot.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>