<?xml version="1.0" encoding="utf-8"?>
<Media Key="890c3289-1e23-459f-8a5a-dd51a6c61232" Alias="kevin-gardner 2.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardner2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-08T07:48:57</CreateDate>
    <NodeName Default="kevin-gardner 2.png" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/a12eup0k/kevin-gardner-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>