<?xml version="1.0" encoding="utf-8"?>
<Media Key="9079757e-2a30-4aa5-a8c9-f60a099aa2f5" Alias="Kevin Gardner.png" Level="2">
  <Info>
    <Parent Key="8b776c3f-7144-4314-b224-f88eb78866d5">Team Members</Parent>
    <Path>/TeamMembers/KevinGardnerpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T00:26:06</CreateDate>
    <NodeName Default="Kevin Gardner.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4g5d4jsz/kevin-gardner.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>