<?xml version="1.0" encoding="utf-8"?>
<Media Key="377dbb5f-d746-49bc-82e5-2dfb2c9d0aa8" Alias="meeting.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/meetingpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-25T16:45:49</CreateDate>
    <NodeName Default="meeting.png" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0bydxajp/meeting.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>