<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3dfbb92-5f60-4ae4-81f9-761e826ffad5" Alias="Miranda Dayton.png" Level="2">
  <Info>
    <Parent Key="8b776c3f-7144-4314-b224-f88eb78866d5">Team Members</Parent>
    <Path>/TeamMembers/MirandaDaytonpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T00:26:05</CreateDate>
    <NodeName Default="Miranda Dayton.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dvyjszij/miranda-dayton.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>