<?xml version="1.0" encoding="utf-8"?>
<Media Key="645ef117-456c-4201-8996-aa1a637fcfbc" Alias="OnlineSignatures.net-302 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnlineSignaturesnet3021png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-29T15:28:03</CreateDate>
    <NodeName Default="OnlineSignatures.net-302 1.png" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ta3bruqf/onlinesignaturesnet-302-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>