<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2d993ae-aaf9-4d7f-ab4b-b8157707ffc9" Alias="Rating.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ratingpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-08T08:52:28</CreateDate>
    <NodeName Default="Rating.png" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/efmj4feq/rating.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>