<?xml version="1.0" encoding="utf-8"?>
<Media Key="80371c6f-9b83-4afd-b8ed-c3e0df99ab82" Alias="Risk-Management.png" Level="2">
  <Info>
    <Parent Key="112e5063-560e-4995-80b6-f384711b3b80">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/RiskManagementpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-25T10:16:31</CreateDate>
    <NodeName Default="Risk-Management.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2dlhcnxk/risk-management.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>