<?xml version="1.0" encoding="utf-8"?>
<Media Key="112e5063-560e-4995-80b6-f384711b3b80" Alias="Services Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-25T10:14:00</CreateDate>
    <NodeName Default="Services Thumbnails" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>