<?xml version="1.0" encoding="utf-8"?>
<Media Key="7183b6da-b840-48cb-a2d2-dac933e7989c" Alias="sl-home2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T23:05:49</CreateDate>
    <NodeName Default="sl-home2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fafdde01/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>