<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b04d0df-a4a9-40bc-a9f1-fe9dfac9cae2" Alias="sl-home2.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome2svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T23:06:33</CreateDate>
    <NodeName Default="sl-home2.svg (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fvwlngns/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>