<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b776c3f-7144-4314-b224-f88eb78866d5" Alias="Team Members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-24T00:24:34</CreateDate>
    <NodeName Default="Team Members" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>