<?xml version="1.0" encoding="utf-8"?>
<Media Key="029e7126-0208-4d68-bf3b-2001a1547bb2" Alias="Tina Fox.png" Level="2">
  <Info>
    <Parent Key="8b776c3f-7144-4314-b224-f88eb78866d5">Team Members</Parent>
    <Path>/TeamMembers/TinaFoxpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T00:26:08</CreateDate>
    <NodeName Default="Tina Fox.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vg3nrndb/tina-fox.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>