<?xml version="1.0" encoding="utf-8"?>
<Content Key="9038ef59-ef02-4a32-82ee-0a8d6b924e83" Alias="2025-10-31 13:56 - Stefan Strandberg" Level="2">
  <Info>
    <Parent Key="63f0b127-de3f-437d-9a67-625b7fb81f8c">Form Submissions</Parent>
    <Path>/FormSubmissions/StefanStrandberg</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-31T13:56:58</CreateDate>
    <NodeName Default="2025-10-31 13:56 - Stefan Strandberg" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[Stefan.m.strandberg@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Stefan Strandberg]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0734036682]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>