<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee83e6cd-db0b-44ff-91c0-f02dff69095f" Alias="2025-11-21 13:29 - Stefan Strandberg" Level="2">
  <Info>
    <Parent Key="63f0b127-de3f-437d-9a67-625b7fb81f8c">Form Submissions</Parent>
    <Path>/FormSubmissions/StefanStrandberg</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-21T13:29:08</CreateDate>
    <NodeName Default="2025-11-21 13:29 - Stefan Strandberg" />
    <SortOrder>16</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[Stefan.m.strandberg@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Stefan Strandberg]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0734036682]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>