<?xml version="1.0" encoding="utf-8"?>
<Content Key="90c30ffb-3843-49bd-b522-527355f9d5d5" Alias="2025-11-09 10:04 - Stefan Strandberg1" Level="2">
  <Info>
    <Parent Key="63f0b127-de3f-437d-9a67-625b7fb81f8c">Form Submissions</Parent>
    <Path>/FormSubmissions/StefanStrandberg1</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-09T10:04:03</CreateDate>
    <NodeName Default="2025-11-09 10:04 - Stefan Strandberg1" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[Stefan.m.strandberg1@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Stefan Strandberg1]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0734036682]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>