<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5c0c261-f460-459a-8e49-c38b88c3826c" Alias="2025-11-21 06:58 - Stefan Strandberg" Level="2">
  <Info>
    <Parent Key="63f0b127-de3f-437d-9a67-625b7fb81f8c">Form Submissions</Parent>
    <Path>/FormSubmissions/StefanStrandberg</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-21T06:58:08</CreateDate>
    <NodeName Default="2025-11-21 06:58 - Stefan Strandberg" />
    <SortOrder>12</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[Stefan.m.strandberg@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Stefan Strandberg]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial Consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0734036682]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>