<?xml version="1.0" encoding="utf-8"?>
<Content Key="0f843e14-54b2-41a7-b05f-4503c99bb313" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="c9792339-5361-4feb-84a8-ed3840ffd997">Services</Parent>
    <Path>/Onatrix/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-25T10:23:07</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5b61e405-50f1-4d5c-b381-adabcaf791f5">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a03fe47e-6270-4bd0-a140-f4116a8d4a28",
      "key": "e729acef-b19e-4b06-9fa0-4d442cf174a7",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "183bb904-4aad-4b81-a3cb-e87a2c2556e9",
              "mediaKey": "0c92c637-34d3-408e-949a-dc342b0e4c28",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactRectangle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "53473811-73da-494f-b32a-a81e0cac19a3",
              "mediaKey": "304f8c0c-5e48-4691-89ee-b50e54c8ec48",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactDots",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "90ecdea7-64b2-4189-ab06-9d7b8b821449",
              "mediaKey": "5ea3bdd6-0793-480d-bd34-8d341d573b3c",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactSectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "officeLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "contactPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "contactEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "e729acef-b19e-4b06-9fa0-4d442cf174a7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e729acef-b19e-4b06-9fa0-4d442cf174a7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "c66b512e-b1aa-4433-8f93-37cc88d584d5",
    "mediaKey": "16858f4e-a722-4d82-ab1f-c5631ec58e75",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>