<?xml version="1.0" encoding="utf-8"?>
<Content Key="5902875c-bfda-4adc-828d-b9184ff9744c" Alias="Contact" Level="2">
  <Info>
    <Parent Key="9921098c-3852-4acb-b7e9-192c18d811d7">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-18T09:18:28</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8bd64d92-9e41-4bad-9cb7-8bd8324a4ed0">ContactPage</Template>
  </Info>
  <Properties>
    <aboutContactSection>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a03fe47e-6270-4bd0-a140-f4116a8d4a28",
      "key": "67d06e05-6409-488c-97aa-9478c82b499c",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1d28a212-f0a0-40a7-aa81-e98d9706c409",
              "mediaKey": "0c92c637-34d3-408e-949a-dc342b0e4c28",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactRectangle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2ee67607-b921-42c3-b310-8c51ffe5ac45",
              "mediaKey": "304f8c0c-5e48-4691-89ee-b50e54c8ec48",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactDots",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0e35b7bb-c816-4e48-9ea6-b315394e7df5",
              "mediaKey": "5ea3bdd6-0793-480d-bd34-8d341d573b3c",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactSectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "officeLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "contactPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "contactEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        }
      ]
    },
    {
      "contentTypeKey": "d21c32e3-5899-44e7-93d2-33a3799f0818",
      "key": "178f5a05-bcb3-4c61-b005-a2ed64b1b52c",
      "udi": null,
      "values": [
        {
          "alias": "callbackHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-bold\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022text-secondary\u0022\u003ERequest a call back\u003C/span\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-lg font-bold\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003ELet us know about your\u003Cbr\u003Enext project\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "callbackCopy",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus"
        },
        {
          "alias": "allbackSubmitLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Submit"
        },
        {
          "alias": "callbackBackgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c7c59abd-d771-42c9-a2f4-100d0f2031e2",
              "mediaKey": "17ff40ae-ba2a-497e-892c-cb9b9a93a9e7",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "d5cd490b-9f5e-4812-91ad-c94fccb1927c",
      "key": "0ffeed69-5151-4630-a6ee-3b786687ddb2",
      "udi": null,
      "values": [
        {
          "alias": "partnerItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "7033311f-9e43-4c43-b364-acdb966d7270",
                "key": "f351f200-ab43-4f13-9863-8a4bf070d1ed",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "2237777a-b92b-4f99-bfbe-c8134f15ff50",
                        "mediaKey": "9905c6ac-665f-42ec-9bfc-ef30697a1f83",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "7033311f-9e43-4c43-b364-acdb966d7270",
                "key": "02b13388-ef5d-4f20-80ea-7da9dcb54bcf",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c05ab34b-5aa7-4bf0-9f86-621558bf6eac",
                        "mediaKey": "ba5b03ae-236a-493d-8526-f36fe39a884f",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "7033311f-9e43-4c43-b364-acdb966d7270",
                "key": "9a3d98ce-dce1-4be1-934a-fba30ff7e841",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "8afef640-ee79-45ac-90a3-d2fafca6ecd1",
                        "mediaKey": "d151b88b-c173-47ea-818e-f987bdcabdbd",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "7033311f-9e43-4c43-b364-acdb966d7270",
                "key": "7f6a1779-7514-49fb-a0cd-34568e9cd9b1",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "bc84bc37-76e5-4879-a01b-7c2521914e65",
                        "mediaKey": "2f1582ef-7d8a-4428-ac1f-24a8f2b40a49",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "7033311f-9e43-4c43-b364-acdb966d7270",
                "key": "cfd59558-5690-4653-8d38-3da65cc3e92d",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "5ec617d7-a88a-4827-aa19-1554812891fd",
                        "mediaKey": "c95a4da0-6766-46b8-a980-1c6ef49894bc",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "7033311f-9e43-4c43-b364-acdb966d7270",
                "key": "1c7b047e-081b-4f72-b5aa-fe945fa52701",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "4b973f24-267d-4ba8-ad0c-4656d1570220",
                        "mediaKey": "3b9c870a-305c-41e1-8d6b-bb68743cb41e",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "f351f200-ab43-4f13-9863-8a4bf070d1ed",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "02b13388-ef5d-4f20-80ea-7da9dcb54bcf",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "9a3d98ce-dce1-4be1-934a-fba30ff7e841",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7f6a1779-7514-49fb-a0cd-34568e9cd9b1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "cfd59558-5690-4653-8d38-3da65cc3e92d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1c7b047e-081b-4f72-b5aa-fe945fa52701",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "f351f200-ab43-4f13-9863-8a4bf070d1ed",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "02b13388-ef5d-4f20-80ea-7da9dcb54bcf",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "9a3d98ce-dce1-4be1-934a-fba30ff7e841",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7f6a1779-7514-49fb-a0cd-34568e9cd9b1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "cfd59558-5690-4653-8d38-3da65cc3e92d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "1c7b047e-081b-4f72-b5aa-fe945fa52701",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "67d06e05-6409-488c-97aa-9478c82b499c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "178f5a05-bcb3-4c61-b005-a2ed64b1b52c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0ffeed69-5151-4630-a6ee-3b786687ddb2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "67d06e05-6409-488c-97aa-9478c82b499c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "178f5a05-bcb3-4c61-b005-a2ed64b1b52c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "0ffeed69-5151-4630-a6ee-3b786687ddb2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </aboutContactSection>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>