<?xml version="1.0" encoding="utf-8"?>
<Content Key="c9792339-5361-4feb-84a8-ed3840ffd997" Alias="Services" Level="2">
  <Info>
    <Parent Key="9921098c-3852-4acb-b7e9-192c18d811d7">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-23T23:10:14</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="659205c5-bb6b-4046-aafa-d37b367142db">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3d5c28a0-115a-4d91-a7fb-ebb2a28b9ccc",
      "key": "ecdb3979-43ae-4b46-83a1-aafd7cd18878",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "a03fe47e-6270-4bd0-a140-f4116a8d4a28",
      "key": "c366a686-866d-4388-936d-1894b72cddad",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "bb028905-29c8-4b59-880a-5422e96aa6c1",
              "mediaKey": "0c92c637-34d3-408e-949a-dc342b0e4c28",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactRectangle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1a3c05a4-0516-4011-b6df-a4f6e8907216",
              "mediaKey": "304f8c0c-5e48-4691-89ee-b50e54c8ec48",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactDots",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "fe0ceaa0-1828-4222-a9d9-5fede27814b1",
              "mediaKey": "5ea3bdd6-0793-480d-bd34-8d341d573b3c",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactSectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "officeLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "contactPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "contactEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d01581d7-0ada-4257-ad11-5e8dc1fc04d1",
      "key": "17a9cbd1-46b4-4053-b639-b5a664f76b1b",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "ecdb3979-43ae-4b46-83a1-aafd7cd18878",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c366a686-866d-4388-936d-1894b72cddad",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ecdb3979-43ae-4b46-83a1-aafd7cd18878",
        "contentUdi": null,
        "settingsKey": "17a9cbd1-46b4-4053-b639-b5a664f76b1b",
        "settingsUdi": null
      },
      {
        "contentKey": "c366a686-866d-4388-936d-1894b72cddad",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>