<?xml version="1.0" encoding="utf-8"?>
<Content Key="95ec6f42-12f2-4775-8fcf-50b9af9b4381" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-25T08:31:33</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAdress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAdress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <footerCreditsText>
      <Value><![CDATA[© Onatrix. All Rights Reserved. Credits to Themesflat]]></Value>
    </footerCreditsText>
    <footerCreditsUrl>
      <Value><![CDATA[]]></Value>
    </footerCreditsUrl>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3397a6a4-8cfa-4000-b50d-4afecdb44621",
      "key": "a487cb71-dae2-4ddc-805c-7e8315b077c1",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "3397a6a4-8cfa-4000-b50d-4afecdb44621",
      "key": "11aaf7e1-e4fe-4c7d-8dcc-8d46471667db",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Linkedin"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com"
        }
      ]
    },
    {
      "contentTypeKey": "3397a6a4-8cfa-4000-b50d-4afecdb44621",
      "key": "a01f22fc-6335-4908-9576-8937955f0e85",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.x.com/"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "a487cb71-dae2-4ddc-805c-7e8315b077c1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "11aaf7e1-e4fe-4c7d-8dcc-8d46471667db",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a01f22fc-6335-4908-9576-8937955f0e85",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a487cb71-dae2-4ddc-805c-7e8315b077c1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "a01f22fc-6335-4908-9576-8937955f0e85",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "11aaf7e1-e4fe-4c7d-8dcc-8d46471667db",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "53de3e19-2e7b-42fc-8d8d-e9f858c77521",
    "mediaKey": "07881742-7ee2-4d18-91d9-3eee6772ac19",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>