<?xml version="1.0" encoding="utf-8"?>
<DataType Key="470cd9b4-7abd-4f0b-9090-d4d0abfbf42b" Alias="About Callback Settings - CallbackRequestOptions - Multiple Text String Property Editor UI" Level="1">
  <Info>
    <Name>About Callback Settings - CallbackRequestOptions - Multiple Text String Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 1
}]]></Config>
</DataType>