<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7fa2eb29-e8b8-4768-ad8f-ee8dc5e1bc08" Alias="customerStatsList" Level="1">
  <Info>
    <Name>customerStatsList</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9c0e3812-3be4-4106-84d2-94817ae62b45"
    }
  ],
  "validationLimit": {
    "min": 3
  }
}]]></Config>
</DataType>