<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b0343969-d844-40ea-9c9f-85bd40890b3f" Alias="Help Card - HelpCardEmail - Email Property Editor UI" Level="1">
  <Info>
    <Name>Help Card - HelpCardEmail - Email Property Editor UI</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EmailAddress</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "email"
}]]></Config>
</DataType>