<?xml version="1.0" encoding="utf-8"?>
<DataType Key="97c80e50-d47a-4dc3-9257-c55dea72bebf" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b8fa2505-b5d5-4094-826e-ceed55290a27"
    },
    {
      "contentElementTypeKey": "3d5c28a0-115a-4d91-a7fb-ebb2a28b9ccc",
      "settingsElementTypeKey": "d01581d7-0ada-4257-ad11-5e8dc1fc04d1"
    },
    {
      "contentElementTypeKey": "357c14f2-94b4-42bd-8c33-4a45fd05ebda"
    },
    {
      "contentElementTypeKey": "f7c7c6ce-9ba2-471a-8406-80fffcae530d",
      "settingsElementTypeKey": "da1acde8-9953-4209-8315-87b53c855df3"
    },
    {
      "contentElementTypeKey": "0b263a15-9549-4523-b547-3149791c8bdb",
      "settingsElementTypeKey": "2261eb16-1e23-4f82-ae08-2053f7326062",
      "label": ""
    },
    {
      "contentElementTypeKey": "3208b7ec-5454-4507-9ae6-a1f99370c03b"
    },
    {
      "contentElementTypeKey": "d5cd490b-9f5e-4812-91ad-c94fccb1927c"
    },
    {
      "contentElementTypeKey": "f0c23ace-14b6-42c3-ac42-6f605be604ad"
    },
    {
      "contentElementTypeKey": "a03fe47e-6270-4bd0-a140-f4116a8d4a28"
    },
    {
      "contentElementTypeKey": "b2007936-dcbd-42e7-a4c8-9551f19f75fb"
    },
    {
      "contentElementTypeKey": "d21c32e3-5899-44e7-93d2-33a3799f0818"
    }
  ]
}]]></Config>
</DataType>