<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6b91f02b-eb78-4b1e-baa8-f20ab1ea5760" Alias="PartnerList" Level="1">
  <Info>
    <Name>PartnerList</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7033311f-9e43-4c43-b364-acdb966d7270"
    }
  ],
  "validationLimit": {
    "min": 1
  }
}]]></Config>
</DataType>