<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e7ac2b98-ffc5-4f3b-a1f7-caa722c3a058" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e6dd5cd5-f91d-4d8e-b12f-fd65999e05d5"
    },
    {
      "contentElementTypeKey": "d5421737-216a-4511-ad18-65efec23f68f"
    }
  ]
}]]></Config>
</DataType>