<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6ca806b5-bdc9-4807-9bdb-082cb2dc3abc" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3397a6a4-8cfa-4000-b50d-4afecdb44621",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>