<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2e45f698-617b-4682-8214-f92183c743ea" Alias="Success Story Section - SuccessStoryBgColor - Color Picker Property Editor UI" Level="1">
  <Info>
    <Name>Success Story Section - SuccessStoryBgColor - Color Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "4F5955",
      "label": ""
    }
  ]
}]]></Config>
</DataType>