<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d0a0e1ba-dde8-4cbc-a03e-b5385667adfa" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b56e039b-2d41-4779-b8f2-ffc96ea1b3d7",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>