<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c4656cb5-861d-4faf-b3a5-fa2dbebf4d23" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="42252668-dccf-4d65-85ab-e1ad4f6e0005">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="18b727e5-a75b-4d4f-97e9-4792367f254d" SortOrder="0">contactPage</ContentType>
    <ContentType Key="5e222edd-e1d9-41de-9ea1-acb8a0eea39f" SortOrder="1">servicePage</ContentType>
    <ContentType Key="4599f552-835b-4eec-8458-234eeefb6331" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>0568d4da-e2c3-4ef7-9ef2-75e86a28c9ea</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>97c80e50-d47a-4dc3-9257-c55dea72bebf</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5d6fc8fb-88b9-48b8-aad0-484ffaf6819c</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>